.Card {
    float: right;
}
.form-container {
    margin-left: 0;
}
.jira-map {
    position: absolute;
    right: 0;
}
.main-card {
    min-width:100%;
    position: relative;
}
.backcard {
    background-color: rgb(79, 106, 165);
}
.title{
    text: bold;
}
.mainform {
    
}