.app {
  text-align: center;
}


.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



.App-Container {
  color:purple;
  text-align: center;
}
.h1 {
  background-color:#191970;
  text-align: center;

}
.background {
  background-image: url(./assets/blue-water-wallpaper-1426718.jpg);
  resize: cover;
  width: 100%;
  height: 200%;
  margin:0px;
  margin-left:20px;
  margin-right:20px;
  background-position: center;


}
.Navbar {
  margin:0px;
  margin-right:0px;
  padding-left:0;
  padding-right:0;

}
.timer {
  font-size: large;
  color:white;
  border-style: solid;
  border-color: orange;
  margin:auto;
  
  
}
.timercontainer {
  text-align: center;
  
}