.app {
  text-align: center;
}


.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



.App-Container {
  color:purple;
  text-align: center;
}
.h1 {
  background-color:#191970;
  text-align: center;

}
.background {
  background-image: url(./assets/affinity_plus_duluth.jpg);
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  background-position: center;
  

}
.Navbar {
  margin:0px;
  margin-right:0px;
  padding-left:0;
  padding-right:0;

}
.timer {
  font-size: large;
  color:white;
  border-style: solid;
  border-color: orange;
  margin:auto;
  
  
}
.timercontainer {
  text-align: center;
  
}
/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */


/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

